/* Reset Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
  
/* Declaração do Padding em TODAS as Seções.*/
section, footer{
    padding: 0px 15%; /* Padding com dois valores, o primeiro se refere à topo e base e o segunda é referente esquerda e direita.*/
}

body{
    background-color: var(--corFundo);
    color: var(--corBranco);
}

/* Declaração do Root. */
:root{
    /* Declaração das Variáveis de Tamamanho de Fonte. */
    --fonteTitulo: 50px;
    --fonteSubtitulo: 35px;
    --fonteParagrafo: 20px;
    --fonteDetalhe: 14px;

    /* Declaração das Variáveis de Cores. */
    --corFundo: #11071F;
    --corBranco: #FFFFFF;
    --roxoClaro: #693B93;
    --roxoMedio: #261250;
    --roxoEscuro: #1A082E;
}